[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lxml = "*"
pyspark = "*"
pandas-profiling = "*"
great-expectations = "*"
spark-df-profiling = {git = "https://github.com/julioasotodv/spark-df-profiling.git"}

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
datatest = "*"

[requires]
python_version = "3.9"
